<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div  class="container">
            <div class="tr">
                <div class="td lg-12 md-8 sm-4 text-center" style="padding-bottom: 10%">
                     <h1>Smart Contact Manager</h1>
                </div>
            </div>
            <div class="tr">
                <div class="td lg-6 md-3 text-center" style="padding-bottom: 10%">
                    <input class="btn btn-primary btn-md" style="margin-right: 20px" type="button" value="Log In">
                    <input class="btn btn-primary btn-md" style="margin-left: 20px" type="submit" value="New User">
                </div>
            </div>

        </div>


    </section>
</body>
</html>