<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div  class="container">
            <div class="row">
                <div class="col col-lg-8 offset-2 ">
                    <div class="card text-center">
                        <div class="card-header bg-prim p-3">
                            <h1>Smart Contact Manager</h1>
                        </div>
                        <div class="card-body bg-sec text-dark pt-5 pb-5">
                            <p class="card-text">Already have an account?</p>
                            <a href="/sign-in" class="btn bg-prim">LOG IN</a>
                            <p class="card-text p-2">Or</p>
                            <a href="/sign-up" class="btn bg-prim">REGISTER</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </section>
</body>
</html>